@import "~bootstrap/scss/bootstrap";

.jumbotron {
    min-height: 100vh;
}

.action-cell {
    display: flex;
    justify-content: flex-start;
    text-align: right;
    gap: 0 10px;
}

.btn-icon {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}
